form {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: #fff;
    border-radius: 10px;
    padding: 50px;

    .icon-container {
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }

    .form-title {
        font-size: 2.6rem;
        color: rgb(63, 63, 63);
    }

    .form-group.row {
        flex-direction: row;
        align-items: center;

        label {
            margin: 0;
        }

        input {
            margin-left: 10px;
        }
    }
    
    .sub-form {
        display: none;
    }

    .sub-form.show {
        display: block;
    }


    .form-group {
        display: flex;
        flex-direction: column;
        margin: 24px 0;

        label {
            display: block;
            margin-bottom: 8px;
        }

        input, select, textarea {
            padding: 1em;
            border: 1px solid lightgray;
            outline: none;
            border-radius: 8px;
            transition: border-color 200ms ease-in;

            &:focus {
                border-color: rgb(53, 153, 187);
            }
        }

        textarea {
            height: 225px;
            resize: vertical;
        }

        a {
            margin-top: 15px;
            display: block;
            text-decoration: none;
            color: #3D3DDB;
            transition: all 200ms ease-in;

            &:hover {
                color: #9393f1;
            }
        }
    }

    .button-group {
        display: flex;
        justify-content: space-between;

        button {
            border: none;
            padding: 1em;
            background-color: #3D3DDB;
            color: #fff;
            min-width: 120px;
            border-radius: 10px;
            cursor: pointer;
            transition: all 200ms ease-in;

            &:hover {
                background-color: #5757ec;
            }
        }
    }
}

