.page {
    display: block;
    
    section {

        .thumbnail-preview {

            img {
                max-height: 200px;
                max-width: 200px;
                border-radius: 10px;
            }
        }
    }
}