<div class="page">
    <header>
        <h1>Server Management</h1>
    </header>
    <div class="exectables">
        <div 
        *ngFor="let server of servers; let i = index" 
        class="service" 
        (dblclick)="start(server.serviceName)" 
        cdkDragBoundary=".page"  
        (cdkDragEnded)="onDrop($event, i)"
        [cdkDragFreeDragPosition]="server.position"
        cdkDrag>
            <div class="logo">
                {{ server.serviceNameShort }}
            </div>
            <span>{{ server.serviceName.replace('_', ' ') }}</span>
        </div>
    </div>

    <section>
        <div class="table" *ngIf="processes && processes.length > 0">
            <div class="table-head">
                <div class="table-row">
                    <div class="table-data">PID</div>
                    <div class="table-data">Label</div>
                    <div class="table-data">Started</div>
                    <div class="table-data">Domain</div>
                    <div class="table-data">Dev Server</div>
                </div>
            </div>
            <div class="table-body">
                <div class="table-row" *ngFor="let row of processes" (click)="kill(row.Service.ProcessID)" matTooltip="Kill Process">
                    <div class="table-data">{{ row.Service.ProcessID }}</div>
                    <div class="table-data">{{ row.Service.Label }}</div>
                    <div class="table-data">{{ row.Service.Started | date: 'medium' }}</div>
                    <div class="table-data">{{ row.Config.Domain }}</div>
                    <div class="table-data">{{ row.Config.ServerAddr }}</div>
                </div>
            </div>
        </div>
    </section>
</div>