.page {
    display: block;

    .exectables {
        display: flex;
        margin-bottom: 50px;

        .service {
            margin-right: 10px;
            text-align: center;
            cursor: pointer;
            
            .logo {
                background-color: #333;
                color: #fff;
                padding: 1em;
                border-radius: 5px;
            }

            &:active {
                .logo {
                    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
                }
            }
        }
    }
}