.page {
    display: block;

    .exectables {
        margin-bottom: 50px;

        .service {
            text-align: center;
            cursor: pointer;
            width: 65px;
            height: 50px;

            .logo {
                background-color: #fff;
                color: rgb(80, 80, 80);
                padding: 1em;
                border-radius: 5px;
                border: 1px solid gray;
            }

            &:active {
                .logo {
                    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
                }
            }
        }
    }
}