.file-upload {
    height: 200px;
    margin-bottom: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    i {
        font-size: 4rem;
        color: #6e6e6e;
    }
}

.file-upload.file-over {
    background-color: rgb(214, 214, 214);
}