.page {
    min-height: 100vh;
    height: 100%;
    width: 100%;

    h1 {
        font-size: 4rem;
        margin-top: 0;
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;

        img {
            max-height: 200px;
            max-width: 50%;
            cursor: pointer;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            
            &:hover {
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }
        }
    }
 }


 @media (max-width: 1480px) {
    .page {
        form {
            box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
            background-color: #fff;
            padding: 2em;
        }
    }
}

 @media (max-width: 999px) {
    .page {
        form {
            width: 100%;
            margin-right: 0;
        }
    }
}