.page {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   height: 100%;
   width: 100%;

   form {
      width: 30%;
      margin-right: 120px;
   }
}

@media (max-width:999px) {
   .page {
      form {
         width: 98%;
         margin-right: 0;
      }
   }
}