.page {
   .tab-content {
       padding: 100px 1em;
       width: 100%;

        img {
            max-height: 200px;
            max-width: 200px;
            border-radius: 10px;
        }
   }
}


::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #3d3ddb;
}

.mat-tab-group  {
    width: 100%;
}